

/* Google Font Montserrat to override Bootstrap Default */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif !important;
}

.jumbotron {
	/* Override jumbotron background color */
	background-color:blue;
}
.header {
	color: #000;
	text-align: center;
}

Train Schedule
.schedule-header {
	background-color:red !important;
}

/* Form Field */
.form-header {
	background-color:yellow !important;
	color: #000;
}

.button-add {
	background-color: yellow;
}